<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myfirstapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <supports-screens
        android:resizeable="true"
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:anyDensity="true"
    />

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name="com.example.clases.Listas"
        android:theme="@style/AppTheme">
        <activity android:name=".RegistroTipoDonacion"></activity>
        <activity android:name=".RetiroDanio" />
        <activity android:name=".RetiroComunidad" />
        <activity android:name=".RegistroUbicacion" />
        <activity android:name=".RegistroCategorias" />
        <activity android:name=".RegistroInfoDonacion" />
        <activity android:name=".RegistroDonaciones" />
        <activity android:name=".RetiroDonaciones" />
        <activity android:name=".RegistroInformacion" />
        <activity android:name=".PantallaPrincipal">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>